<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    {% include 'front/_partial/_modal.html.twig' %}
    </body>
</html>
