{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Tasks API <small>v1</small></h1>
        <p class="lead">A simple app to manage tasks.</p>
        <hr class="my-4">
        <p>Do not use for your own :p there is nothing. L'anglais s'arrete ici je n'ai pas le temps de m'amuser.</p>
        <a class="btn btn-primary" href="{{ url('front_users') }}" role="button">Voir les utilisateurs inscrits</a>
    </div>
{% endblock %}